<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.commonplace.share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>commonplace</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Commonplace uses Apple Music to play your saved tracks.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Commonplace reads your activity and workout data to enrich your journal entries.</string>
</dict>
</plist>
